{% load staticfiles %}

 <!--pricing start-->
        <section id="pricing" class="pricing-section">
            <div class="container">
                <div class="row">
                    {% for post in context.price_post %}
                    <div class="col-sm-8 col-sm-offset-2 center-title">
                        <i class="{{ post.icons }}"></i>
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.description }}</p>
                    </div>
                    {% endfor %}
                </div><!--center title row end-->
                <div class="row">
                    {% for price in context.prices %}
                    <div class="col-sm-4">
                        <div class="price-box text-center wow animated fadeInUp" data-wow-delay="0.1s">
                            <i class="{{ price.icons }}"></i>
                            <h3>{{ price.title }}</h3>
                            <div class="price">
                                <sup>$</sup>{{ price.price }}
                            </div>
                            <p>
                                {{ price.description }}
                            </p>
                            <a href="#" class="btn btn-lg btn-default btn-radius">Узнать больше </a>
                        </div><!--price box end-->
                    </div><!--price col end-->
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--pricing end-->
