<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% include 'include/head.html' %}
</head>
<body data-spy="scroll">

{% block content %}{% endblock content %}

     {% include 'include/script.html' %}
<script>
    $(document).ready(function(){
        if($('.system.messages').length == 0 ){
            return;
        }
        let  t = $('.system.messages').find('div:first').data('tags'),
            _html = $('.system.messages').html();
        swal({
            html: _html
        });
        {% comment %}
        $(window).scroll(function(){
    $(".banner-inner, .newsletter-home-text").css("opacity", 1 - $(window).scrollTop() / 350);

    });
        $('.banner-slider').backstretch([
        {% for slide in context.background %}
        {% for file in slide.background.all %}
        "{{ file.file.url }}",
        {% endfor %}
        {% endfor %}
    ], {
        fade: 750,
        duration: 3000
    });
    {% endcomment %}
//parallax
    if (!Modernizr.touch) {
        $('.home-newsletter').parallax("50%", 0.5);
           $('.home-contact').parallax("50%", 0.5);
    }
    //backstretch background slideshow using for banner intro

    });
     let myIndex = 0;
carousel();

function carousel() {
  let i;
  let x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 9000);
}
</script>
</body>
</html>