{% extends 'base.html' %}
{% block content %}
                        {% if messages %}
                            <div class="system messages" style="display: none;">
                                {% for message in messages %}
                                    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert" data-tags="{{ message.tags }}">
                                        <!--
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-hidden="true">&times;</button> -->
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

 <header class="navbar navbar-default header-v2 navbar-fixed-top">
            <div class="container">
                <div class="navbar-header scroll-to">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:void(0);">ДизКом</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav scroll-to navbar-nav">
                        <li><a href="#services">О компании </a></li>
                        <li><a href="#gallery">Наши клиенты</a></li>
                        <!--<li><a href="#pricing">Специальные предложения</a></li>-->
                        <li><a href="#contact">Контакты </a></li>


                    </ul>
                    <ul class="nav navbar-nav navbar-right socials">
                        <li><a href="javascript:void(0);" style="font-size: 22px;"><i class="icon-phone"></i>&nbsp;&nbsp;&nbsp;+7(925)616-6289</a></li>
                        {% comment %}
                         <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        {% endcomment %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </header><!--navigation end here-->
 <section id="home" class="banner-intro banner-slider">
            <div class="banner-inner">
                 {% for slide in context.background %}
                                   {% for file in slide.background.all %}
                                       <img class="mySlides w3-animate-fading" src="{{ file.file.url }}" style="width:100%; height: 450px;">
                                     {% endfor %}
                            {% endfor %}
                <div class="container">
                    <div class="row">
                       <div class="col-sm-8 text-center wow animated bounceIn">



                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% include 'include/services.html' %}
    {% include 'include/gallery.html' %}
    {% comment %}
    {% include 'include/features.html' %}
    {% include 'include/pricing.html' %}
    {% endcomment %}
    {% include 'include/contact_form.html' %}
    {% include 'include/footer.html' %}


{% endblock %}
